/*responsive code*/


@media only screen and (min-width:1200px){}

@media only screen and (max-width:1199.98px) and (min-width:992px){}

@media only screen and (max-width:991.98px) and (min-width:768px){}

@media only screen and (max-width:767.98px) and (min-width:576px){}

@media only screen and (max-width:1199.98px) and (min-width:576px){}

@media only screen and (max-width:575.98px){
	header nav {display:none;}
	.gallery-box {width: 46%;}
    .load-1 {margin-top: 36px;}
    .load-1 a {font-size: 15px;}
    .load-1 {width: 158px;
    height: 54px;}
}
